---
name: pull-request-review

on:
  pull_request_review:
permissions:
  contents: read
  pull-requests: write
jobs:
  test-job:
    name: Test Step
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: git branch
      - run: env
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: default branch
        run: echo ${{ github.event.repository.default_branch }}
      - uses: kentaro-m/auto-assign-action@v1.2.5
        with:
          configuration-path: '.github/auto_assign-2.yml' # Only needed if you use something other than .github/auto_assign.yml
      #- name: Set reviewers or merge
      #  uses: sigyl-actions/auto-review-action@master
      #  with:
      #    scheme-file: review-scheme.yml
