---
name: Test

on:
  workflow_run:
    workflows:
      - Preflight
    types:
      - completed
  pull_request_review:

jobs:
  test-job:
    name: Test Step
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: git branch
      - run: env
      - run: echo ${{ toJSON(github.event.workflow_run.*) }}
        name: workflow_run
    
      - name: Set reviewers or merge
        uses: sigyl-actions/auto-review-action@master
        with:
          scheme-file: review-scheme.yml
